.head-container h1{
   margin-left: 600px;
   color: #05386b;
}
.border{
    margin-left: 550px;
    background-color: #05386b;
    width: 300px;
    height: 3px;
}
.clock{
    margin-top: 200px;
    bottom: 350px;
}